.main-header {
  width: 100vw;
  background: transparent;
  top: 0;
  z-index: 2;
  position: fixed;
  padding: var(--s-spacing-large) var(--s-spacing-xx-large);

  .site-title {
    width: 50px;
    height: 25px;
  }

  .main-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    nav {
      display: flex;
      gap: var(--s-spacing-large);
    }

    a {
      cursor: pointer;
      text-decoration: none;
      font: var(--s-typography-heading-small);
      color: var(--s-color-content-default);
    }
  }
}
