.about-section {
  display: flex;
  flex-direction: row;
  padding: 80px;
  color: white;
  gap: 64px;

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    gap: 24px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    opacity: 70%;
  }

  &__experience {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__list-experience {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__skills {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__list-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 4px;
    }
  }

  &__experience-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: stretch;
    gap: 16px;

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      opacity: 70%;
    }

    h6 {
      font-size: 14px;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.4px;
    }

    > div {
      display: grid;
      align-content: center;
      gap: 4px;
    }
  }

  &__carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 20px;
    z-index: 2;
    height: 100%;
  }

  &__carousel-window {
    width: 100%;
    overflow: hidden;
    height: 100%;
  }

  &__carousel-track {
    display: flex;
    height: 100%;
  }

  &__carousel-slide {
    min-width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 768px) {
    padding: 20px;
    flex-direction: column;
    width: 100%;

    &__container {
      width: 100%;
    }

    &__carousel {
      width: 100%;
    }
  }
}

.about-section__carousel-dots {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;

  .dot {
    width: 15px;
    height: 15px;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid white;

    &.active {
      background: white;
    }
  }
}
