.about-section {
  display: flex;
  flex-direction: row;
  padding: 80px;
  color: white;
  gap: 64px;
  scroll-margin-top: -40px;

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    gap: 64px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  p {
    opacity: 70%;
  }

  &__experience {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__list-experience {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__skills {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__list-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 4px;
    }
  }

  &__experience-card {
    display: flex;
    flex-direction: row;
    gap: 16px;

    &-dot {
      width: 8px;
      height: 8px;
      margin: 8px 0px;
      background-color: var(--p-color-primary);
    }

    &-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 8px;
    }

    &-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    .enterprise {
      opacity: 70%;
    }

    p {
      opacity: 70%;
    }
  }

  &__carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 20px;
    z-index: 2;
    height: 100%;
  }

  &__carousel-window {
    width: 100%;
    overflow: hidden;
    height: 100%;
  }

  &__carousel-track {
    display: flex;
    height: 100%;
  }

  &__carousel-slide {
    min-width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 768px) {
    padding: 20px;
    flex-direction: column;
    width: 100%;
  scroll-margin-top: 0px;

    &__container {
      width: 100%;
    }

    &__carousel {
      width: 100%;
    }
  }
}

.about-section__carousel-dots {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;

  .dot {
    width: 24px;
    height: 24px;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid white;

    &.active {
      background: white;
    }
  }
}
