.loader-wrapper {
  position: fixed;
  inset: 0;
  background: var(--s-color-background-default);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  overflow: hidden;
}

.deploy-container {
  color: var(--s-color-content-light);

  width: 250px;
  height: 100px;
}

.scramble-text {
  color: var(--s-color-content-default);
}

.deploy-line {
  color: var(--s-color-content-light);
  font-family: "Fira Code", monospace !important;
}

.cursor {
  display: inline-block;
  width: 10px;
  animation: blink 0.8s steps(1) infinite;
  margin-left: 2px;
  color: var(--s-color-content-light);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
