.underline-link {
  display: inline;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: var(--s-color-content-light);
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--s-color-content-default);
  }

  .underline-link-inner {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .underline-link-content {
    position: relative;
    z-index: 2;
  }
  
  .underline-link-underline-wrapper {
    display: block;
    height: 4px;
    position: relative;
  }

  .underline-link-underline {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: var(--s-color-content-default);
    border-radius: 2px;
    width: 100%;
    z-index: 1;
    transform-origin: left;
  }
}

@media (max-width: 768px) {
  .underline-link {
    backdrop-filter: brightness(1.2) blur(1px);
  }
}
