.project-card {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  border-radius: var(--s-border-radius-large);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.15);

  cursor: none;
  transition: all 0.3s ease;

  width: 100%;
  height: 100%;
}

.project-card::before {
 content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.03)
  );
  opacity: 0.6;
  pointer-events: none;
  z-index: 1;
    border-radius: var(--s-border-radius-large);
}

.project-image-wrapper,
.project-content {
  position: relative;
  z-index: 2;
}

.project-card:hover {
  backdrop-filter: blur(28px) saturate(200%);
  -webkit-backdrop-filter: blur(28px) saturate(200%);
}


.project-image-wrapper {
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-content {
  padding: 1.2rem 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  h2 {
    color: var(--s-color-content-default);
  }

  p {
    color: var(--s-color-content-light);
    font-size: var(--s-typography-caption-regular);
    line-height: 1.3rem;
  }

  small {
    color: var(--s-color-content-default);
  }
}


@media (max-width: 768px) {
  .project-card {
    overflow: hidden;

    flex-basis: 100% !important;
    width: 100% !important;
    transition: none !important;
  }
}
