.project-card {
  background: var(--s-color-fill-default);
  border-radius: var(--s-border-radius-large);
  border: 1px solid var(--s-color-border-default);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: 0.3s ease;
  width: 100%;
  height: 100%;

  &:hover {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.45);
  }
}

.project-image-wrapper {
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-content {
  padding: 1.2rem 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  h2 {
    color: var(--s-color-content-default);
  }

  p {
    color: var(--s-color-content-light);
    font-size: var(--s-typography-caption-regular);
    line-height: 1.3rem;
  }

  small {
    color: var(--s-color-content-default);
  }
}
