.footer {
  display: flex;
  width: 100%;
  z-index: 2;
  padding: 80px;
  justify-content: space-between;
  color: white;

  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  a {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    opacity: 70%;

    &:hover {
      opacity: 100%;
    }
  }

  &__left {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    align-items: stretch;
    gap: 16px;
  }

  &__right {
    align-items: end;
    text-align: right;
  }

  &__sitemap,
  &__social,
  &__contact {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__back-to-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.3s ease;
    padding: 8px;
    gap: 4px;
    cursor: pointer;
    opacity: 100%;
    text-transform: uppercase;
    white-space: nowrap;

    font-size: 14px;
    font-weight: 700;
    opacity: 100% !important;

    div {
      opacity: 100%;
    }

    a {
      opacity: 100%;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px;

    &__left {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

@media (max-width: 425px) {
  .footer {
    flex-direction: column;
    gap: 24px;
    &__left {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &__right {
      text-align: left;
      gap: 24px;
      align-items: start;
    }

    &__back-to-top {
      justify-content: flex-start;
    }
  }
}
