.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  padding: 1.5rem;
  transition: all 0.5s ease-in-out;
  background: transparent;

  &:hover {
    backdrop-filter: brightness(1.2) blur(1px);
  }

  .project-video {
    display: flex;
    gap: 1rem;
    width: 100%;
    video {
      border-radius: 10px;
      width: 50%;
    }
  }

  .project-header {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    color: var(--s-color-content-default);
  }

  .project-description {
    color: var(--s-color-content-light);
    text-align: justify;
  }

  .project-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .project-links {
    display: flex;
    gap: 0.5rem;

    a {
      color: var(--s-color-content-light);
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
        color: var(--s-color-content-default);
        fill: var(--s-color-content-default);
      }
    }

    img[src$="storybook.svg"] {
      width: 24px;
      height: 24px;
      filter: brightness(1) saturate(0) invert(0.8);
      transition: filter 0.2s;

      &:hover {
        filter: brightness(1) saturate(0) invert(1);
      }
    }
  }

  .project-contributors {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
      color: var(--s-color-content-light);
    }

    .contributors-images {
      img {
        border-radius: 50%;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .project-card {
      padding: 0;

    .project-video {
      flex-direction: column;
      video {
        width: 100%;
      }

      :first-child {
        display: none;
      }
    }
  }
}
