@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

html,
body,
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-decoration: none;
}

::selection {
  background-color: #34a7d4;
  color: black;
  opacity: 100%;
}

html,
body {
  background-color: #050505;
}

body {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

.animated-background {
  position: fixed;
  inset: 0;
  z-index: 1;

  > * {
    width: 100% !important;
    height: 100dvh !important;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section {
    max-width: 1440px;
  }

  footer {
    max-width: 1440px;
  }
}

.blur-container {
  position: relative;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blur-container::before {
  content: "";
  position: absolute;
  backdrop-filter: blur(10px);
  transform: translateZ(0);
  inset: 0;

  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.6) 10%,
    rgba(0,0,0,1) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.6) 10%,
    rgba(0,0,0,1) 100%
  );

}