@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--s-color-background-default);
  scroll-behavior: smooth;
}

::selection {
  background: var(--s-color-content-default);
  color: var(--s-color-fill-default-hover);
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.home-container {
  display: flex;

  .sidebar {
    width: 40%;
    height: 100vh;

    .sidebar-fixed {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 5rem 8rem;

      .profile {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
          font-size: 56px;
        }

        h1,
        h4 {
          color: var(--s-color-content-default);
        }

        strong {
          color: var(--s-color-content-light);
        }
      }

      nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
          text-decoration: none;
          font: var(--s-typography-label-medium);
          color: var(--s-color-content-light);
          cursor: pointer;

          &:hover {
            color: var(--s-color-content-default);
          }
        }
      }

      .social-links {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        a {
          color: var(--s-color-content-light);
          cursor: pointer;

          &:hover {
            color: var(--s-color-content-default);
          }
        }
      }
    }
  }

  .scrollable-content {
    display: flex;
    flex-direction: column;

    width: 60%;

    .sobre {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100vh;
      padding: 5rem 8rem;

      p {
        color: var(--s-color-content-light);
        text-align: justify;

        a {
          color: orange;
          text-decoration: none;
        }

        strong {
          color: var(--s-color-content-default);
        }
      }
    }

    .experiencia {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0rem 8rem 5rem 8rem;
    }

    .projetos {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0rem 8rem 5rem 8rem;
    }

    .cursos {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0rem 8rem 5rem 8rem;
    }

  }
}

.icon-social {
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}
.icon-social:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1025px) {
  .home-container {
    .sidebar {
      width: 50%;
      height: auto;

      .sidebar-fixed {
        padding: 2rem;

        .profile {
          gap: 0.5rem;
          h1 {
            font: var(--s-typography-heading-x-large);
          }
        }
      }
    }

    .scrollable-content {
      width: 100%;

      .sobre {
        gap: 0.5rem;
      }

      .sobre,
      .experiencia,
      .projetos,
      .voluntariado {
        padding: 2rem;

        p {
          font-size: 14px;
        }

        strong {
          font-size: 14px;
        }
      }
    }
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
  
  h1 {
    color: var(--s-color-content-default);
        text-align: center;

  }

  p {
    color: var(--s-color-content-light);
    text-align: center;
  }

  button {
    width: min-content;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;

    .sidebar {
      width: 100%;
      height: auto;

      .sidebar-fixed {
        position: inherit;
        gap: 2rem;
        flex-direction: column;
        padding: 2rem;

        nav {
          display: none;
        }
      }
    }

    .scrollable-content {
      width: 100%;

      .sobre {
        height: 100%;
      }

      .sobre,
      .experiencia,
      .projetos,
      .voluntariado {
        padding: 2rem;
      }
    }
  }
}
