:root {
  --p-color-white: #ffffff;
  --p-color-light: rgba(255, 255, 255, 0.5);
  --p-color-subtitle: rgba(255, 255, 255, 0.7);
  --p-color-black: #000000;
  --p-color-primary: #34a7d4;
  --p-color-green: #24b57f;
  --p-color-purple: #9333ea;
  --p-color-blue: #2160eb;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-decoration: none;
}

::selection {
  background-color: var(--p-color-primary);
  color: var(--p-color-black);
  opacity: 100%;
}

html,
body {
  background-color: var(--p-color-black);
}

body {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

.animated-background {
  position: fixed;
  inset: 0;
  z-index: 1;

  > * {
    width: 100% !important;
    height: 100dvh !important;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  section {
    max-width: 1440px;
  }

  footer {
    max-width: 1440px;
  }
}

main {
  .blur-container {
    position: relative;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .blur-container::before {
    content: "";
    position: absolute;
    transform: translateZ(0);
    inset: auto 0 0 0;
    height: 60%;
    backdrop-filter: blur(15px);

    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 10%,
      rgba(0, 0, 0, 1) 100%
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 10%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

h1 {
  font-size: clamp(56px, 4vw, 64px);
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 64px;
}

h2 {
  font-size: clamp(32px, 4vw, 40px);
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 48px;
}

h3 {
  font-size: clamp(14px, 4vw, 16px);
  font-family: Inter, sans-serif;
  font-weight: 500;
  letter-spacing: -0.4000000059604645px;
  line-height: 24px;
}

h4 {
  font-size: clamp(12px, 4vw, 14px);
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-decoration: uppercase;
}

p {
  font-size: clamp(14px, 4vw, 16px);
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

label {
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 24px;
}

a {
    font-size: clamp(12px, 4vw, 14px);

  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 24px;
}

span {    font-size: clamp(12px, 4vw, 14px);

  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 24px;
}
