@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

html,
body,
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--s-color-background-default);
}

::selection {
  background: var(--s-color-content-default);
  color: var(--s-color-fill-default-hover);
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.cursor-light {
  position: fixed;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
  transform-origin: 0 0;
  mix-blend-mode: difference;
  z-index: 999;
}

.cigam-link {
  position: relative;
  color: #ff6b00;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;

  span {
    position: relative;
    z-index: 2;
  }

  .underline {
    height: 2px;
    background: #ff6b00;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--s-color-background-default);

  .information-section {
    padding: 4rem 2rem;

    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    gap: 4rem;
    align-items: center;

    .left {
      color: #e4e4e4;
      display: flex;
      flex-direction: column;
      gap: var(--s-spacing-small);

      .texts {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        div {
          font: var(--s-typography-caption-regular);
          font-size: 1rem;
        }

        h2 {
          font-size: 2rem;
          line-height: 3rem;
          font-weight: 700;

          small {
            font-size: 2rem !important;
          }

          span {
            font-size: 4rem;
            background-color: transparent;
          }
        }
      }
    }

    .right {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        max-width: 420px;
        border-radius: var(--s-border-radius-medium);
        object-fit: cover;
        box-shadow: 0 25px 40px rgba(0, 0, 0, 0.45);
      }
    }
  }
}

.projects-btn {
  display: flex;
  padding: var(--s-spacing-xx-small);
  border: var(--s-border-width-thin) solid var(--s-color-border-default);
  width: fit-content;
  justify-content: center;
  border-radius: var(--s-border-radius-medium);
  align-items: center;
  background-color: var(--s-color-fill-default);
  color: var(--s-color-content-default);
  cursor: pointer;

  .btn-text {
    font: var(--s-typography-paragraph-regular);
    white-space: nowrap;
  }
}

.projetos {
  display: flex;
  height: 100vh;
}

@media (max-width: 500px) {
  .home .information-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0px;
    justify-content: space-between;
    padding: 2rem 1rem;
    gap: 1.5rem;

    .left {
      .texts {
        display: flex;
        align-items: center;
        p {
          max-width: 400px;
        }
        h2 {
          font-size: 24px;
          line-height: 2rem;
          span {
            font-size: 40px;
          }
        }
      }

      .projects-btn {
        display: none;
      }
    }

    .right {
      max-height: 400px;
    }
  }
}

@media (max-width: 425px) {
  .home .information-section {
    gap: 1rem;
  }
}
