.section-nav-mobile {
  display: none;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  font: var(--s-typography-label-medium);
  color: var(--s-color-content-light);
  cursor: pointer;

  &:hover {
    color: var(--s-color-content-default);
  }
}

@media (max-width: 767px) {
  .section-nav-mobile {
    display: flex;
    align-items: center;
    z-index: 10;
  }
}
