.card-project {
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
  width: 100%;

  &:hover {
    .card-project__image {
      img {
        scale: 1.1;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      opacity: 70%;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__image {
    overflow: hidden;
    height: 100%;
    aspect-ratio: 4 / 3;

    .img {
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in-out;
      object-fit: cover;
    }
  }
}
