.intro-section {
  position: relative;
  height: 100dvh;
  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    padding: 40px 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    color: #fff;
  }

  &__image-wrapper {
    width: clamp(250px, 30vw, 280px);
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    h1 {
      font-size: 64px;
      font-weight: 500;
      line-height: 1;
    }

    h4 {
      font-size: 14px;
      font-weight: 400;

      a {
        font-weight: 700;
        color: #34a7d4;
      }
    }
  }

  &__description {
    max-width: 400px;
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.7;
  }

  &__scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    cursor: pointer;

    a {
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.5px;
    }
  }

  &__arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
        gap: 6px;

  }
}

@media (max-width: 768px) {
  .intro-section {
    &__content {
      padding: 20px;
    }

    &__info {
      h1 {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 768px) {
  .intro-section__image-wrapper {
    width: clamp(220px, 32vw, 320px);
  }
}
