header {
  display: flex;

  a {
    margin: 16px;
    color: white;
    opacity: 70%;

    &:hover {
      opacity: 100%;
    }
  }
}

@media (max-width: 768px) {
  header {
    display: none;
  }
}
