.formation-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  padding: 1.5rem;
  transition: all 0.5s ease-in-out;
  background: transparent;

  &:hover {
    backdrop-filter: brightness(1.2) blur(1px);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .formation-card__period {
      color: var(--s-color-content-light);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    color: var(--s-color-content-default);
    gap: 0.5rem;

    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    color: var(--s-color-content-light);
  }
}

@media (max-width: 768px) {
  .formation-card {
    backdrop-filter: brightness(1.2) blur(1px);
    gap: 0.5rem;
  }
}
